<p><img src={{ background }} /></p>
<p>{{ name }}</p>
<p>&nbsp;</p>
<p>{{ sum }}</p>
<p>&nbsp;</p>
<p>Activites</p>
<p><img src={{ Act1 }} width="198" height="148" />&nbsp;{{ Act1_i }}</p>
<p>&nbsp;</p>
<p>{{ Act1_a }}</p>
<p>&nbsp;</p>
<p><img src={{ Act2 }} width="198" height="148" />&nbsp;{{ Act2_i }}</p>
<p>{{ Act2_a }}</p>
<p>&nbsp;</p>
<p><img src={{ Act3 }} width="198" height="148" />&nbsp;{{ Act3_i }}</p>
<p>{{ Act3_a }}</p>
<p>&nbsp;</p>
<p><img src={{ Act4 }} width="198" height="148" />&nbsp;{{ Act4_i }}</p>
<p>{{ Act4_a }}</p>
<p>&nbsp;</p>

<p>Hotels</p>
<p><img src={{ hot1 }} width="198" height="148" />&nbsp;{{ hot1_i }}</p>
<p>{{ hot1_a }}</p>
<p>&nbsp;</p>
<p><img src={{ hot2 }} width="198" height="148" />&nbsp;{{ hot2_i }}</p>
<p>{{ hot2_a }}</p>
<p>&nbsp;</p>
<p><img src={{ hot3 }} width="198" height="148" />&nbsp;{{ hot3_i }}</p>
<p>{{ hot3_a }}</p>
<p>&nbsp;</p>


</form>