<!DOCTYPE html>
<html lang="en">
	<head>
		<title>THE VACATION BUTTON</title>
		<meta charset="utf-8" />
		<meta name="robots" content="index, follow" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="initial-scale=0.5, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gentium+Basic:700" />
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			body {
				background-color: #FFFFFF;
				color: #000000;
				font-family: Gentium Basic, serif;
				font-size: 64px;
			}
			a, a:hover, a:active, a:visited {
				color: #E43C3B;
			}
			#logotype {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -400px;
				margin-left: -400px;
			}
		</style>
	</head>
	<body>
		<div>
            <a href="/city"><img src="../static/pngwing.com.png" id="logotype"  /></a>
		</div>
	</body>
</html>