<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dartboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  {% include 'navbar.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Dartboard
      </h1>
      <p class="subtitle">
        Find the website of<strong>Bulma</strong>!
      </p>
    </div>
  </section>
  <section>
    <div class="card">
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Less than 4 days</a>
        <a href="#" class="card-footer-item">1 weeks</a>
        <a href="#" class="card-footer-item">2 weeks</a>
    </footer>
    </div>
  </section>
  </body>
</html>